body {
  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  transform: translateX(20%) translateY(-10%);
  position: absolute;
  background-color: #1d1b31;
}

.dropdown-content a {
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.project__image {
  position: relative;
  float: left;
  width: 175px;
  height: 175px;
}
.col-sm-4:hover #col-sm-6 {
  transform: translateY(-80%);
}

#col-sm-6 {
  background: #a9b8df;
  opacity: 90%;
  width: 380px;
  height: 196px;
  position: relative;
  display: grid;
  bottom: 40px;
  align-items: center;
  transform: translateY(201%);
  justify-items: center;
  transition:all 0.3s ease-in-out;
}
#anteprima{
    color: #11101d;
    position: relative;
    float: right;
    padding: 30px 30px 30px 30px;
    margin-top: 10vh;  
    text-align: center;
    border-radius: 20px;
    background-color: rgba(123, 127, 144, 0.336);
    font-size: 1em;
    font-weight: 500;
    border: 3px solid black;
    overflow-y: hidden;
    right: 180px;
    bottom: 58.5px;
}
.col-sm-4{
  position: relative;
  float: left;
  overflow: hidden;
  width: auto;
  height: 250px;
}
#formSocio{
  margin-top: 100px;
}
#FormElimina{
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
#FormUpdate{
  margin-top: 100px;
  width: 100%;
  text-align: center;
}