@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    background: linear-gradient(to bottom, #e9ebf3 17%,#dbdeed 107%);
   
}

.navbar {
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 20px;
    background-color: #9ca1bb;
    height: 100vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
    color: white;
    /* position: absolute; */
    z-index: 10;
    
    box-shadow: 0px 4px 35px #888888;
}

hr {
    width: 90%;
    justify-content: center;
}

.logo {
    padding-bottom: 20px;
}

ul {
    list-style: none;
    padding-top: 10px;
}

li {
    line-height: 45px;
    margin-left: 5%;
    font-size: 1.2em;
}

.logout {
    position: absolute;
    bottom: 2vh;
    left: 3.5vh;
    height : 50px;
    width: 26%;
}
.errore {
    color: rgb(251, 0, 0);
    font-weight: 700;
    background: rgb(189, 197, 239);
    padding: 2px 5px;
    border-radius: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    transform: translateX(30px);
    font-size: 10px;
    height: 10px;
}
.logout button {
    width: 100%;
    border-radius: 0;
    background-color: white;
    border: 4px solid white;
    transition: background-color .4s, color .4s;
    color: #9ca1bb;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    transition: .4s;
    letter-spacing: 2px;
    transform: translateX(-8px);
}

.logout button:hover {
    background-color:#9ca1bb;
    color: white;
}

.nuovoCliente {
    display: flex;
    justify-content: right;
    margin-top: 1vh;
    margin-right: 5.5vw;
}

.nuovoCliente button {
    width: 130%;
    height: 4vh;
    border-radius: 0;
    background-color: white;
    border: 4px solid white;
    transition: .4s;
    color: #868dad;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color .4s, color .4s;
    letter-spacing: 2px;
}

.nuovoCliente button:hover {
    background-color: #868dad;
    color: white;
}

.vuoto {
    display: none;
    width: 0px;
}

.opzione {
    text-decoration: none;
    letter-spacing: 1px;
    padding: 2px 10px;
    color: white;
    border-radius: 15px;
    margin: 2%;
    border: none;
    transition: .3s;
}

.opzione:hover {
    background:#868dad;
}

.contratti li a {
    text-decoration: none;
    letter-spacing: 1px;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    transition: .3s;
}

.home {
    padding-bottom: 10px;
    font-size: 1.5em;
    padding-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.clienti {
    /* padding-top: 20px; */
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 600;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
}

.logo a:hover {
    background: rgba(0, 0, 0, 0);
}

.ricerca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    height: 6vh;
    position: relative;
}

.searchBar {
    position: relative;
    right: 5%;
    max-width: 20vw;
    height: 4vh;
    border: 2px solid white;
    border-radius: 10px;
    background: #868dad;
    color: white;
    font-size: 1.2em;
    font-weight: 400;
    padding-right: 30px;
    padding-left: 5px;
}

.lente {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    left: 87%;
    transition: .3s;
}

#lenteIcon {
    height: 100%;
}

.noresult {
    font-weight: 300;
    font-size: 1.3em;
    font-style: italic;
}

#clientiELenco {
    margin-top: 10%;
    overflow-y: auto;
    
}

.nocontratto {
    font-weight: 600;
    color: rgb(27, 158, 191);
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: italic;
}

.listaClienti {
    /* min-height: 55vh; */
    max-height: 55vh;
    margin-top: 2vh;
    overflow-y: auto;
    width: 95%;
}

 ::-webkit-scrollbar {
    width: 15px;
}

 ::-webkit-scrollbar-track {
    background:#868dad;
    border-radius: 15px;
}

 ::-webkit-scrollbar-thumb {
    background: #c5c7d1;
    border-radius: 15px;
}

.bars {
    border-top: 3px solid #868dad;
    border-bottom: 3px solid  #868dad;
    min-width: 20vw;
}

.contratti {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.modificaContratti {
    height: 23vh;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modificaContratti button {
    border-radius: 0;
    padding: 0 10px;
    min-width: 15vw;
    min-height: 9vh;
    background-color: rgba(28, 206, 250, 0);
    color: white;
    border: 4px solid white;
    transition: .4s;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color .4s, color .4s;
    letter-spacing: 2px;
}

.modificaContratti button:hover {
    background-color: white;
    color: #868dad;
}

.report {
    position: absolute;
    right: 3vw;
    bottom: 3vh;
    height: 5vh;
    display: flex;
}

.report button {
    border-radius: 0;
    padding: 0 10px;
    min-width: 10vw;
    min-height: 5vh;
    background-color: rgba(28, 206, 250, 0);
    color: white;
    border: 4px solid white;
    transition: .4s;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color .4s, color .4s;
    letter-spacing: 2px;
}

.report button:hover {
    background-color: white;
    color: #868dad;
}

.reportList {
    display: flex;
    position: absolute;
    top: 0vh;
    left: -7vh;
    max-height: 100vh;
    max-width: 72vw;
    flex-direction: column;
    overflow: auto;
    border: 4px solid #868dad;
    box-shadow: 1px 3px 20px 3px#888888;
    background-color: white;
    
}

.reportListTessera{
    display: flex;
    position: absolute;
    top: 15vh;
    max-height: 77vh;
    width: 65vw;
    flex-direction: column;
    overflow: auto;
    transform: translateY(580%);

    border: 4px solid #868dad;
    box-shadow: 1px 3px 20px 3px#888888;
    background-color: white;
}

.reportino{
    position: absolute;
    bottom: 10vh;
    left: 3.5vh;
    height: 50px;
    width: 26%;    
}

.reportino button{
    width: 100%;
    border-radius: 0;
    background-color: white;
    border: 4px solid white;
    transition: background-color .4s, color .4s;
    color: #9ca1bb;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    transition: .4s;
    letter-spacing: 2px;
    transform: translateX(-8px);   
}

.reportino button:hover {
    background-color:#9ca1bb;
    color: white;
}

.infoSocio{
background-color: lightsteelblue;
position: absolute;
width: 350px;
height: 120px;
text-align: center;
font-size: 20px;
font-family: " 	Brush Script MT",  "Lucida Handwriting", cursive;
border-radius:20px;
box-shadow: 0px 4px 5px #888888;
margin-top: 5px;
transform: translateX(650px);
}


.reportListSocio{
    position: absolute;
    top: 15vh;
    max-height: 77vh;
    width: 65vw;
    flex-direction: column;
    overflow: auto;
    transform: translateY(330px);
    
    border: 4px solid #868dad;
    box-shadow: 1px 3px 20px 3px#888888;
    background-color: white;
}

.spostamentoReport{
    transform: translateX(5%);
}

.spostamentoReport2{
    transform: translateX(550px);
}
.tabelleLog {
    width: 72vw;
    margin-left: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.nomeT{
    
background-color: white;
width: 290px;
height: 30px;
text-align: center;
font-size: 20px;
font-family: " 	Brush Script MT",  "Lucida Handwriting", cursive;
border-radius:20px;
box-shadow: 0px 4px 5px #888888;
margin-top: 10px;

transform: translateY(390px);
    
}

.nomeS{
    background-color: white;
width: 270px;
height: 30px;
text-align: center;
font-size: 20px;
font-family: " 	Brush Script MT",  "Lucida Handwriting", cursive;
border-radius:20px;
box-shadow: 0px 4px 5px #888888;
margin-top: 10px;

transform: translateY(80px);
    
}

table {
    border: 2px solid#c5c7d1;
    overflow: auto;
    border-collapse: collapse;
}


td {
    padding: 0 10px;
    text-align: center;
    border: 4px solid #c5c7d1;
    width: 40%;
}

input {
    width: 200px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #212121;
    height: 40px;
}


tr:nth-of-type(even) {
background:  rgb(239, 238, 242);
}
thead {
background: #909fd2;
}

.nomeSocieta{
background-color: white;
width: 350px;
height: 30px;
text-align: center;
font-size: 20px;
font-family: " 	Brush Script MT",  "Lucida Handwriting", cursive;
border-radius:20px;
box-shadow: 0px 4px 5px #888888;
margin-top: 10px;
transform: translateX(18%);
}

a:link, a:visited {
    color: white;
     text-decoration: none;
     cursor: pointer;
   }
   
 a:link:hover,a:visited:hover{
     /* background-color: #a9b8df; */
     /* color: white; */
     text-decoration: none;
     cursor: pointer;
 
 }

.nomeSocieta2{
    
background-color: white;
width: 550px;
height: 30px;
text-align: center;
font-size: 20px;
font-family: " 	Brush Script MT",  "Lucida Handwriting", cursive;

box-shadow: 0px 4px 5px #888888;
margin-top: 10px;
}



.fieldsetSocioRegistrazione{
    box-shadow: 1px 3px 20px 3px#b4b5bb;
    color: #11101d;
    position: relative;
    padding: 30px 30px 30px 30px;
    margin-top: 2vh;
    text-align: center;
   
    border-radius: 20px;
    background-color: rgba(123, 127, 144, 0.336);
    font-size: 1.7em;
    font-weight: 500;
    border: 3px solid black;
    height: 720px;
    width: 200px ;

}

.submit {
    margin-top: 2vh;
    border-radius: 10px;
    height: 50px;
    margin-top: 4vh;
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    color: deepskyblue;
    background-color: white;
    border: 4px solid white;
    transition: .4s;
}

.submit:hover {
    background-color: white;
    color:#5176d3;
}
select {
    appearance: none;
    outline: none;
    background-color: #c5d2f2;
    border: 3.5px solid #888d99;
    font-size: .7em;
    width: 40%;
    margin-left: 5vw;
    color:#888d99;
    transform: translateX(-35px);
    text-align: center;
}  

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 80vh;
    min-height: 50vh;
}
.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  
  .file-input label {
    display: block;
    position: relative;
    width: 400px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #929cc9, #868dad);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    transform: translateX(300px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
  }

  .file-input label:hover{
    
    background: linear-gradient(40deg, #909cd5, #9aa4d2);
  }
  
  .file-name {
    position: absolute;
    bottom: -35px;
    left: 10px;
    font-size: 0.85rem;
    color: #555;
  }
  
  .alb {
    width: 800px;
    height: 520px;
    padding: 5px;
}
.alb img {
    width: 100%;
    height: 100%;
}
 